.table {
  margin-top: 16px;
  height: 400px;
  overflow: scroll;
  color: #6a5d5d;
  background-color: #fff;
  margin-bottom: 30px;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}
